*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

.body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 0;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: $gray-0-7;

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
