$white: #ffffff;
$white-0-7: rgba(255, 255, 255, 0.7);
$black: #000000;
$special-white: #fbf8f8;
$gray: #2c2e3f;
$gray-0-7: rgba(44, 46, 63, 0.7);
$gray-0-5: rgba(44, 46, 63, 0.5);
$gray-0-3: rgba(44, 46, 63, 0.3);
$modal-gray: #48494d;
$light-gray: #d7d9df;
$special-light-gray: #dadada;
$special-dark-gray: #141517;
$special-dark-gray-0-7: rgba(20, 21, 23, 0.7);
$special-dark-gray-0-6: rgba(20, 21, 23, 0.6);
$special-dark-gray-0-5: rgba(20, 21, 23, 0.5);
$special-dark-gray-0-2: rgba(20, 21, 23, 0.2);
$peach: #fe7865;
$peach-hover: #f17d4b;
$blue: #90b1db;
$modal-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
$default-transition: 0.15s ease-in-out;
$mobile-width: 320px;
$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1023px;
$desktop-width: 1024px;
$desktop-width-midle: 1700px;
